body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.site-heading-lower{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
.mb-3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:black !important;
}
.section-heading-lower{
    font-style: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h1{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
h2{
    color: black
}
p{
    color: white;
}
li{
    color: black;
}
ul{
    color: black;
}